<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nodejs Blog | <%= locals.title %></title>

        <link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="container">
			<%- include("../includes/header_admin.ejs") %>
			<main class="main">
				<%- body %>
			</main>
			<%- include("../includes/footer.ejs") %>
		</div>
	</body>
</html>
